.listItem {
   
    display: flex;
    width: 300px;
    height: 400px;
    margin: 20px;
    
}
div {
    display: block;
}
.menuBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.recommendbox {
    display:inline-block;
    vertical-align:top;
   
}

.RecommendItem {
    margin:30px;
}

.RecommendItem span{
    display:inline-block;
}