@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

.listItem {
   
    display: flex;
    width: 300px;
    height: 400px;
    margin: 20px;
    
}
div {
    display: block;
}
.menuBox {
    display: flex;
    flex-wrap: wrap;
    
}


.booklist-Bar{
    list-style: none;
    position: center;
    display: flex;
    font-size: 0.8em;
    font-style: arial;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: 200px;
    justify-content: end;
}

.booklist-Bar li{
    margin-right: 20px;
    display: block;
}

.booklist-Bar a{
    color: black;
    text-decoration-line: none;

}

.booklist-Bar a:hover{
    color : #8AA9F1;
}


.infoBox {
    display: flex;
    justify-content: flex-start;
}

.bookinfo-img {
    width: 50%;
}
.bookinfo-img img{
    width: 60%;
    padding: 100px;
}

.bookinfo {
    width: 50%;
    padding: 50px
}

.name {
    color: black;
    font-size: 50px;
}

.infoTitle{
    color: gray;
    width: 200px;
}
.price {
    color: rgb(215, 16, 16);
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.edit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.infoFlex {
    display: flex;
    align-items: center;
}

.RecommendItem{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 100px;
}


.recommend-img{
    width: 500px;
}

.recommend-img img{
    width: 200px;
    padding-left: 100px;
}

.reName {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
}

.reTitle{
    color: gray;
    width: 130px;
}

.rePrice {
    color: rgb(215, 16, 16);
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.Button{
    display: flex;
    margin-top: 32px;
    margin-bottom: 30px;
    justify-content: end;
}
.rebt{
    background: rgb(255, 255, 255);
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    color: rgb(78, 78, 78);
    font-weight: bold;
    font-size: 18px;
}
.rebt:focus{
    color: #8AA9F1;
    font-weight: bold;
}
.rebt:hover{
    color: #8AA9F1;
    font-weight: bold;
}

.menuBox {
    margin-top: 100px;
    
}

#textarea{
    width: 70%;
    height: 150px;
}

.reviewButton{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.enter {
    width: 120px;
    height: 150px;
    background: #8AA9F1;
    border: 0;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.cancel {
    width: 120px;
    height: 150px;
    background: #9b9b9b;
    border: 0;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.field{
    width: 90%;
    height: 150px;
}

form {
    align-content: center;
    margin-left: 150px;
}